<mat-card>
    <div class="card-row">
        <span>
            <p class="title">
                {{title}}
            </p>
            <p>Your Best: <b>{{bestScore}}%</b></p>
        </span>
        <span class="flex-center"><p class="title">{{questionCount}}</p>
            Questions</span>
    </div>
    <div class="card-row">
        <a class="rel-topic" href="/topic/{{topicID}}">Topic: {{topicTitle}}</a>
        <button (click)="router.navigate(['/']);" mat-fab><mat-icon>play_arrow</mat-icon></button>
    </div>
</mat-card>