.profile-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    margin: auto;
    margin-top: 200px;
    background-color: bisque;
}

.button {
    border: none;
    background: #ffffff;
    
}

mat-label{
    display: block;
    width:200;
}

