
<app-navbar></app-navbar>

<mat-card class="container flex-center mt-5">
    <p class="heading">My Details</p>

    <div class="flex-center flex-row">
        <label>FirstName</label>
        <input class="inputBox form-control" type="text"
            value="{{profile.firstName}}" disabled>
    </div>

    <div class="flex-center flex-row">
        <label>LastName</label>
        <input class="inputBox form-control" type="text"
            value="{{profile.lastName}}" disabled>
    </div>


    <div class="flex-center flex-row">
        <label>Email</label>
        <input class="inputBox form-control" type="text"
            value="{{profile.email}}" disabled>
    </div>

    <div class="flex-center flex-row">
        <label>Username</label>
        <input class="inputBox form-control" type="text"
            value="{{profile.userName}}" disabled>
    </div>


    <div class="flex-center flex-row">
        <label>Password</label>
        <input class="inputBox form-control" type="text"
            value="{{profile.password}}" disabled>
    </div>


    <button mat-raised-button color="accent"><a class="routeBtn"
            routerLink="/update-profile"
            routerLinkActive="active">Update Profile</a></button>
</mat-card>