

<div>
    <mat-card class="profile-card">
    <h1 style="font-size:40px;">User Profile</h1>
    <br><br>
<table >
    
<tr>
    <td><mat-label style="font-size: 20px;">FirstName</mat-label></td>
    <td><mat-label style="font-size:20px; background-size: 20px; background-color:white">{{profile.firstName}}</mat-label></td>
</tr>
<br>

<tr>
    <td><mat-label style="font-size: 20px;">LastName</mat-label></td>
    <td> <mat-label style="font-size:20px; background-color:white ;">{{profile.lastName}}</mat-label></td>
</tr>
<br>

    <tr>
    <td><mat-label style="font-size: 20px;">UserName</mat-label></td>
    <td><mat-label style="font-size:20px; background-color:white ;">{{profile.userName}}</mat-label></td>
    </tr>
    <br>


    
    <tr>
    <td><mat-label style="font-size: 20px;">Password</mat-label></td>
    <td><mat-label style="font-size:20px;background-color:white ;">{{profile.password}}</mat-label></td>
    </tr>
    <br>

    <tr>
    <td> <mat-label style="font-size: 20px;">Email</mat-label></td>
    <td><mat-label style="font-size:20px;background-color:white ;">{{profile.email}}</mat-label></td>
    </tr>
    <br>
    

        
    <tr>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button mat-raised-button color="accent"><a class="routeBtn" routerLink="/update-profile"
    routerLinkActive="active">Update Profile</a></button></td>
    </tr>
    
</table>
</mat-card>
</div>