* {
    font-size: 20px !important;
}

.inputBox {
    height: 40px;
}

label {
    width: 200px;
}

.flex-row {
    flex-direction: row !important;
    justify-content: space-between;
    margin: 20px;
}

button {

    height: 50px;
    margin: 20px;
}

.heading {
    font-weight: 600;
    font-size: 28px !important;
    line-height: 120%;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: black;
}