.mat-toolbar {
    background-color: #000000;
    color: #ff9800 !important;
}

.mat-toolbar>div,
div>div {
    height: 100%;
    display: flex;
    align-items: center;
}

a {
    color: #ff9800 !important;
    text-decoration: none;
    margin: 0 10px 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.active {
    background-color: #2a2a2a;
    transition: background-color 0.1s;
}