<form #form="ngForm" (ngSubmit)="login(form)">
    <div>
        <mat-card class="login-card">
            <h1>Log In</h1>

            <p *ngIf="invalidLogin" class="invalid-login">Invalid Username or
                Password. Please try again!</p>

            <mat-form-field appearance="outline">
                <mat-label>User Name</mat-label>
                <input id="username" name="username" ngModel matInput
                    placeholder="User Name" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input id="password" name="password" ngModel matInput
                    placeholder="Password" required
                    matInput [type]="hidePassword ? 'password' : 'text'">
                <button
                    mat-icon-button matSuffix (click)="hidePassword=
                    !hidePassword"
                    [attr.aria-label]="'hidePassword password'"
                    [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card>

    </div>
</form>