[contenteditable] {
  outline: 0px solid transparent;
}

.note-title {
  margin: 0 auto;
  text-align: center;
  background-color: #fafafa;
  border: 0;
  border-radius: 4px;
}

textarea {
  min-width: 1000px;
  outline: 0px solid transparent;
  background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
  line-height: 31px;
  border: 0px;
  resize: none;
  min-height: 60vh;
}

.grid-container {
  display: grid;
  grid-template-rows: 7fr 1fr;
}

.grid-item-1 {
  scroll-behavior: smooth;
  /* background-image: url('../../../assets/notes-bg.png'); */
  line-height: 31px;
}

.grid-item-2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mat-nav-list {
  box-shadow: 1px 1px 1px #e9e9e9;
}

.mat-drawer-container {
  background-color: #fefbff;
}