<app-navbar></app-navbar>

<div class="container mt-3">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle();">
                <mat-icon>menu</mat-icon>
            </button>
            <input type="text" [(ngModel)]="currentNote.title"
                class="note-title" id="note-title" autofocus
                contenteditable="true">

            <!-- </input> -->
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side">
            <mat-nav-list *ngFor="let note of notes;let i= index">
                <a (click)="loadNote(note.id)"  mat-list-item>{{note.title}}</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div id="container" class="grid-container"
                style="font-size:large; margin: 5% 5% 0 10%;">
                <div>
                    <textarea type="text" id="note-content" class="grid-item-1"
                        contenteditable="true"
                        [(ngModel)]="currentNote.content"
                        placeholder="Take a Quick Note!!">
                    </textarea>
                </div>
                <div id="btns" class="grid-item-2">
                    <button mat-raised-button (click)="newNote()"
                        color="primary">
                        + Add
                    </button>
                    <button mat-raised-button color="primary"
                        (click)="saveNote()">
                        Save
                    </button>
                    <button mat-raised-button color="primary"
                        (click)="deleteNote()">
                        Delete
                    </button>

                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>