<app-topics></app-topics>
<br>
<div class="container px-4 text-center">
    <div class="row gx-5">
        <div class="col" *ngFor="let t of sub">
            <div>
                <mat-card>
                    <a [routerLink]="['/dashboard/subtopic', t.topicsId]" fragment="{{t.name}}"
                        style="text-decoration: none; font-size: medium;">
                        <b>{{t.name}}</b>
                    </a>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<hr>
<h1>Contents</h1>

<div *ngFor="let t of topic">
    <div *ngIf="t.id === pid">
        {{t.content}}
    </div>
</div>


<div *ngFor="let t of sub">
    <app-content [st]="t"></app-content>
</div>
<ng-container *ngIf="showScroll$ | async">
    <app-scroll (scrollToTop)="onScrollClick()"></app-scroll>
</ng-container>