<app-topics></app-topics>
<br>
<div class="container">
    <div class="row px-4 text-center">
        <div class="col gx-5" *ngFor="let t of sub">
            <a [routerLink]="['/dashboard/subtopic', t.topicsId]"
                fragment="{{t.name}}" style="text-decoration: none;
                font-size: medium;">
                <mat-card>
                    <b>{{t.name}}</b>
                </mat-card>
            </a>
        </div>
    </div>
    <hr>
    <h1 class="heading">Contents</h1>

    <div *ngFor="let t of sub">
        <app-content [st]="t"></app-content>
    </div>


    <ng-container *ngIf="showScroll$ | async">
        <app-scroll (scrollToTop)="onScrollClick()"></app-scroll>
    </ng-container>

</div>