<form #form="ngForm" (ngSubmit)="Update(form)">
    <div>
        <mat-card class="login-card">
           <br><br> <h1 style="font-size:40px;">Update Profile</h1><br>

            <p *ngIf="invalidSignUp" class="invalid-login">Invalid credentials.
                <mat-icon class='colorInfo' [matTooltip]="toolTip">info_outline</mat-icon>
            </p>
          
     <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input
                    id="firstname"
                    name="FirstName"
                    style="width: 80%;height: 50px;font-size:20px"
                   value="{{profile.firstName}}"
                   #lastName="ngModel"
                    [(ngModel)]="service.formData.firstName"
                   
                    placeholder="First Name" >
                </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input
                    id="lastname"
                    name="LastName"
                    style="width: 80%;height: 50px;font-size:20px;"
                    value="{{profile.lastName}}"
                    #lastName="ngModel"
                    [(ngModel)]="service.formData.lastName"
               
                    placeholder="Last Name">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                    id="email"
                    name="Email"
                    style="width: 80%;height: 50px;font-size:20px"
                    value="{{profile.email}}"
                    #email="ngModel"
                    type="email"
                    [email]="true"
                    [(ngModel)]="service.formData.email"
                  
                    placeholder="email" >
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input
                    id="username"
                    name="UserName"
                    style="width: 80%;height: 50px;font-size:20px"
                    value="{{profile.userName}}"
                    #userName="ngModel"
                    [(ngModel)]="service.formData.userName"
                 
                    placeholder="Username" >
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input
                    id="password"
                    name="Password"
                    style="width: 80%;height: 50px;font-size:20px"
                    value="{{profile.password}}"
                    #password="ngModel"
                    [type]="hidePassword ? 'password' : 'text'"
                    [(ngModel)]="service.formData.password"
                  
                    placeholder="Password" 
                    pattern="(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                <button type=button
                    mat-icon-button matSuffix
                    (click)="hidePassword=!hidePassword"
                    [attr.aria-label]="'hidePassword password'"
                    [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Update</button>
      
        </mat-card>
    </div>
</form>
