.login-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 900px;
    margin: auto;
    margin-top: 200px;
    background-color: bisque;
}

button {
    border: none;
    background: #ffffff;
    
	
	
}

.mat-form-field {
    width: 300px;
}


.invalid-login {
    color: red;
    margin: 10px 0 30px;
}