<app-navbar></app-navbar>
   

            <p *ngIf="invalidSignUp" class="invalid-login">Invalid credentials.
                <mat-icon class='colorInfo' [matTooltip]="toolTip">info_outline</mat-icon>
            </p>
          
            <div class="container mt-5">
                
                <mat-tab-group mat-align-tabs="center" #tabGroup>

                    <mat-tab label="Update Profile">
                        
            <form #form="ngForm" (ngSubmit)="Update(form)">
                        <table align="center"><div class="flex-center mt-5 ">
                            
                           <div >
                            <tr><td> <label>FirstName</label></td>
               <td> <input
                class="inputBox form-control"
                    id="firstname"
                    name="FirstName"
                   
                   value="{{profile.firstName}}"
                   #lastName="ngModel"
                    [(ngModel)]="service.formData.firstName"
                   
                    placeholder="First Name" ></td></tr></div>
               

                    <div class="flex-center flex-row">
                        <tr><td>  <label>LastName</label></td>
                            <td><input
class="inputBox form-control" 
                    id="lastname"
                    name="LastName"
                 
                    value="{{profile.lastName}}"
                    #lastName="ngModel"
                    [(ngModel)]="service.formData.lastName"
               
                    placeholder="Last Name"></td></tr></div>
            

                    <div class="flex-center flex-row">
                        <tr><td>   <label>Email</label></td>
                            <td>   <input
                 class="inputBox form-control" 
                    id="email"
                    name="Email"
                   
                    value="{{profile.email}}"
                    #email="ngModel"
                    type="email"
                    [email]="true"
                    [(ngModel)]="service.formData.email"
                  
                    placeholder="email" ></td></tr></div>
           
                    <div class="flex-center flex-row">
                        <tr><td>   <label>Username</label></td>
                            <td>  <input
            class="inputBox form-control" 
                    id="username"
                    name="UserName"
                  
                    value="{{profile.userName}}"
                    #userName="ngModel"
                    [(ngModel)]="service.formData.userName"
                 
                    placeholder="Username" ></td></tr></div>
           
                    <div class="flex-center flex-row">
                   
            
                          <tr>  <td><input 
                                type="hidden"
               class="inputBox form-control" 
                    id="password"
                    name="Password"
                
                    value="{{profile.password}}"
                    #password="ngModel"
                   
                    [(ngModel)]="service.formData.password"
                  
                    placeholder="Password" 
                    pattern="(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"></td>
        </tr></div>
            
                <tr><td colspan="2" rowspan="3" style="align-items: center;">   <button  mat-raised-button color="accent"  class="routeBtn">Update</button></td></tr>
          </div>
                        </table>
                        </form>
                    </mat-tab>

                <mat-tab label="Update Password">
                    <form #form2="ngForm" (ngSubmit)="UpdatePassword()">
                    <table align="center">
                        <div class="flex-center mt-5">
                            <div class="flex-center flex-row">
                                <tr><td> <label style="margin-left: 30px;">Old Password</label></td>
                    
                                    <td><input 
                       class="inputBox form-control" 
                            id="password"
                            name="Password"
                        
                            #password="ngModel"
                            [type]="hidePassword ? 'password' : 'text'"
                            [(ngModel)]="passwordModel.OldPassword"
                          
                            placeholder="Password" 
                            pattern="(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"></td>
                            
                  <td>  <button type=button
                    style="width: 20px;height: 20px;background-color: ghostwhite;"
                            mat-icon-button matSuffix
                            (click)="hidePassword=!hidePassword"
                            [attr.aria-label]="'hidePassword password'"
                            [attr.aria-pressed]="hidePassword">
                            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button></td></tr></div>
                        </div>
                        <div class="flex-center mt-5">
                            <tr>
                                <div class="flex-center flex-row">
                                    <tr><td> <label style="margin-left: 30px;">New Password</label></td>
                        
                                        <td><input 
                           class="inputBox form-control" 
                                id="password"
                                name="Password"
                            
                                #password="ngModel"
                                [type]="hideNewPassword ? 'password' : 'text'"
                                [(ngModel)]="passwordModel.NewPassword"
                              
                                placeholder="Password" 
                                pattern="(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"></td>
                                
                      <td>  <button type=button
                        style="width: 20px;height: 20px;background-color: ghostwhite;"
                                mat-icon-button matSuffix
                                (click)="hideNewPassword=!hideNewPassword"
                                [attr.aria-label]="'hideNewPasswordassword'"
                                [attr.aria-pressed]="hideNewPassword">
                                <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button></td></tr></div>
                            </tr>
                            <tr><td colspan="2" rowspan="3" style="align-items: center;">   <button  mat-raised-button color="accent"  class="routeBtn">Update</button></td></tr>

                        </div>
                        
                    </table>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </div>



                   
              
                  


               