.login-card {
    width: 500px;
    margin: auto;
    margin-top: 200px;
}

button {
    border: none;
    background: #ffffff;
}

.mat-form-field {
    width: 300px;
}


.invalid-login {
    color: red;
    margin: 10px 0 30px;
}

.colorInfo {
    font-size: 15px;
    width: 15px;
    height: 15px;
    vertical-align: text-top;
}