<app-navbar></app-navbar>

<form #form="ngForm" (ngSubmit)="signUp(form)">
    <div>
        <mat-card class="login-card flex-center">
            <h1 class="heading">SIGNUP</h1>

            <p *ngIf="invalidSignUp" class="invalid-login">Invalid credentials.
                <mat-icon class='colorInfo' [matTooltip]="toolTip">info_outline</mat-icon>
            </p>

            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input
                    id="firstname"
                    name="firstname"
                    [(ngModel)]="credentials.FirstName"
                    matInput
                    placeholder="First Name" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input
                    id="lastname"
                    name="lastname"
                    [(ngModel)]="credentials.LastName"
                    matInput
                    placeholder="Last Name" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                    id="email"
                    name="email"
                    type="email"
                    [email]="true"
                    [(ngModel)]="credentials.Email"
                    matInput
                    placeholder="email" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input
                    id="username"
                    name="username"
                    [(ngModel)]="credentials.UserName"
                    matInput
                    placeholder="Username" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input
                    id="password"
                    name="password"
                    [type]="hidePassword ? 'password' : 'text'"
                    [(ngModel)]="credentials.Password"
                    matInput
                    placeholder="Password"
                    required
                    pattern="(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                <button type=button
                    mat-icon-button matSuffix
                    (click)="hidePassword=!hidePassword"
                    [attr.aria-label]="'hidePassword password'"
                    [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" class="btn
                btn-signup">CREATE ACCOUNT</button>
            <p class="redirect-text">Already have an account? <a href="/login">LogIn</a></p>
        </mat-card>
    </div>
</form>