.login-card {
    width: 500px;
    margin: auto;
    margin-top: 100px;
    /* box-shadow: 1px 2px 1px -1px rgba(0,0,0,1), 
    1px 2px 2px 1px rgb(196, 108, 8), 
    1px 1px 3px 1px rgb(196, 129, 13); */
}

button {
    border: none;
    background: #ffffff;
}

.mat-form-field {
    width: 300px;
}


.invalid-login {
    color: red;
    margin: 10px 0 30px;
}

.colorInfo {
    font-size: 15px;
    width: 15px;
    height: 15px;
    vertical-align: text-top;
}
.centre{
    margin-left: 50px;
   }